*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffba00;
    
    font-family: "DM Sans", sans-serif;
    list-style: none;
    border: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}
.div-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.div-historico{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.titulo{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 20px;
}

label{
    font-size: 35px;
    font-weight: bold;
    color: #000;
}

input{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    text-align: center;
    width: 200px;
}

button{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    text-align: center;
    width: 200px;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

h2{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

h3{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}   

li{
    font-size: 40px;
    font-weight: bold;
    color: #ffba00;
    background-color: #fff;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    margin: 2px;
}
ul{
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    overflow: auto;
    width: 1200px;
    flex-wrap: wrap;
}
span{
    font-size: 60px;
    font-weight: bold;
    color: #000;
}
